#home {
    font-size: 40px;
    text-align: center;
    //color: set-text-color($background-color);
    // width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;

    h1 {
        font-size: 2em;
        font-weight: bold;
    }

}