@import 'config';
@import 'page02';
@import 'header';
@import 'home';
@import 'button01';
@import 'carousel01';
@import 'footer';


// General
body {
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), #d0d2d4);
    // background-image: linear-gradient(to bottom right, rgb(255, 255, 255), #d0d2d4);
    // background-repeat: no-repeat;
    // background-size: cover;
    // justify-content: space-evenly;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // flex-wrap: wrap;
    // overflow: hidden;
    // background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 {
    font-style: italic;
    font-size: 60px;
    margin-bottom: 30px;
    text-transform: capitalize;
}



.main-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    h1 {
        margin-bottom: 40px;
    }

    h2 {
        margin-top: 40px
    }
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}