@import 'config';
@import 'header';
@import 'home';
@import 'button01';
@import 'footer';


// General
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    //maxin?
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), #d0d2d4);
    // background-image: linear-gradient(to bottom right, rgb(255, 255, 255), #d0d2d4);
    // background-repeat: no-repeat;
    // background-size: cover;
    // justify-content: space-evenly;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // flex-wrap: wrap;
    // overflow: hidden;
    // background-color: black;
}

main {
    flex: 1 1;
}

h2 {
    font-style: italic;
    margin-bottom: 30px;
    text-transform: capitalize;
}